{% extends 'base.html' %}

{% block main %}
<h1>{{ hospital }}</h1>

<p><a href="{% url 'hospitals:hospital-add-need' hospital.pk %}">Añadir necesidad</a> |
<a href="{% url 'hospitals:hospital-update' hospital.pk %}">Modificar hospital</a></p>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Datos del hospital</div>
  <div class="card-body">
    <h4 class="card-title">{{hospital.name}}</h4>
    <p class="card-text">
        <dl>
        <dt>Teléfono</dt>
      <dd>{{ hospital.phone }}</dd>
        <dt>Dirección</dt>
      <dd>{{ hospital.address }}</dd>
        <dt>Localidad</dt>
      <dd>{{ hospital.city }}</dd>
        <dt>Observaciones</dt>
      <dd>{{ hospital.comment }}</dd>
        </dl>
    </p>
  </div>
</div>


<h2>Necesidades</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Recurso</th>
        <th scope="col">Cantidad por día</th>
        <th scope="col">Notas</th>
        <th scope="col">Actualizado</th>
    </tr>
    </thead>
    <tbody>
{% for need in needs %}
    <tr>
        <td><a href="{% url 'hospitals:resource-detail' need.resource.pk %}">{{need.resource}}</a></td>
        <td>{{need.amount_per_day}}</td>
        <td>{{need.comment}}</td>
        <td>{{need.updated_at}} <a class="btn btn-primary" href="{% url 'hospitals:need-update' need.pk %}">Actualizar</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
