{% extends 'base.html' %}

{% block main %}
<h1>Necesidades de {{ resource }}</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
          <div class="card-header">Demanda por día</div>
          <div class="card-body">
            <h4 class="card-title">{{total_per_day|default_if_none:"No hay datos"}}</h4>
          </div>
        </div>
        </div>
        <div class="col">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Oferta por día</div>
          <div class="card-body">
            <h4 class="card-title">{{production_per_day|default_if_none:"No hay datos"}}</h4>
          </div>
        </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Hospital</th>
        <th scope="col">Cantidad por día</th>
        <th scope="col">Notas</th>
        <th scope="col">Actualizado</th>
    </tr>
    </thead>
    <tbody>
{% for need in resource.need_set.all %}
    <tr>
        <td><a href="{% url 'hospitals:hospital-detail' need.hospital.pk %}">{{need.hospital}}</a></td>
        <td>{{need.amount_per_day}}</td>
        <td>{{need.comment}}</td>
        <td>{{need.updated_at}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
